figure.highlight,
.note,
#article-container img,
#article-container .tabs,
blockquote,
#card-info-btn,
.post-copyright,
#pagination.pagination-post,
.card-category-list-link,
.card-archive-list-link
    border-radius: 5px

#article-container .tabs > .nav-tabs,
#article-container .tabs > .nav-tabs > .tab,
#article-container .tabs > .nav-tabs > .tab button
    border-radius: 5px 5px 0 0

#article-container .tabs > .nav-tabs > .tab
    margin-left: 8px

#article-container .tabs > .nav-tabs > .tab:first-of-type
    margin-left: 0

#aside-content #card-toc .toc-content .toc-link.active,
code,
.hide-inline > .hide-button
    border-radius: 3px

.toggle
    border-radius: 5px
    overflow: hidden